/*-------------------------------时间-------------------------------*/

.liTime{
    font-size: 20px;
    margin: left; /* 自动边距居中 */
    text-align: left; /* 文字居中 */
	color:#000000;
    margin-left: 20px;
}