<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BaiyunTube{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/video.css">
    <link rel="stylesheet" href="/static/css/head.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/Time.css">
    <link rel="stylesheet" href="/static/css/Top_button.css">

    <script src="/static/js/Top_button.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jump.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/user.js"></script>
    <script src="/static/js/Time.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<header class="title">
    <div class="left_element">
        <img class="burger_icon" src="/static/icon/hamburger-menu.svg" alt="菜单">
        <a href="/">
            <img class="logo" src="/static/icon/logo.png" alt="Logo">
        </a>
        <p class="liTime" id="time"></p>
    </div>

    <div class="center_element">

        <input class="search" type="text" placeholder="搜索" style="margin-right: 20px;">
        <div class="search_button_div">
            <button class="search_button">
                <img class="search_button_icon" src="/static/icon/search.svg" alt="搜索">
                <div class="search_button_text">search</div>
            </button>
        </div>
    </div>
    <div class="right_element" id="user_section">
        <img id="upload_video" class="upload_video_icon margin_right_20" src="/static/icon/upload.svg" alt="上传视频">
    </div>
</header>

<nav class="sidebar">
    <div id="index_site" class="sidebar_Icons">
        <div>
            <img src="/static/icon/home.svg" alt="主页">
        </div>
        <div>
            主页
        </div>
    </div>
    <div id="official_site" class="sidebar_Icons">
        <div>
            <img src="/static/icon/指南.svg" alt="官网">
        </div>
        <div>
            官网
        </div>
    </div>
    <div id='library' class="sidebar_Icons">
        <div>
            <img src="/static/icon/图书馆.svg" alt="图书馆">
        </div>
        <div>
            图书馆
        </div>
    </div>
    <div id='selfInfo' class="sidebar_Icons">
        <div>
            <img src="/static/icon/原稿.svg" alt="我的合集">
        </div>
        <div>
            我的合集
        </div>
    </div>
</nav>

<main>
    {% block content %}
    {% endblock %}
    <button id="Top_button">返回顶部</button>
</main>

{% block foot %}
{% endblock %}

</body>
</html>