{% extends "base.html" %}

{% block title %}BaiyunTube - 用户{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/login.css">
<script src="static/js/video_user.js"></script>
<script src="static/js/user.js"></script>
{% endblock %}

{% block content %}
<div id="user_info">

</div>

<div style="display: flex; justify-content: center; align-items: center;margin-top: 50px;">
    <img id='loading' class="video" src="/static/img/loading.gif" alt="video" style="max-width: 100%; max-height: 100%;">
</div>
<section class="video_grid" id="videoGrid">
</section>
{% endblock %}

{% block foot %}
<script>
    $(document).ready(function () {
        // 请求用户信息
        $.ajax({
            url: '/api/user_info', // 假设这是后端提供的用户信息接口
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data && data.data) {
                    var user = data.data;
                    // 动态生成用户信息 HTML 结构
                    var userHtml = `
                    <div class="user_info_card" style="text-align: center; margin-top: 20px;">
                        <img src="${user.avatar}" alt="用户头像" style="width:100px;height:100px;border-radius:50%;margin-bottom:10px;">
                        <h2 id="user_name" style="color: #808080;">${user.username}</h2>
                    </div>
                `;
                    // 将用户信息插入到 <main> 中
                    $('#user_info').html(userHtml);
                } else {
                    console.warn('未获取到用户信息');
                }
            },
            error: function (err) {
                console.error("获取用户信息时发生错误:", err);
            }
        });
    });
</script>
{% endblock %}
