{% extends "base.html" %}

{% block title %}BaiyunTube - 视频{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/video.css">
<script src="/static/js/video_show.js"></script>
<script src="/static/js/video_tuijian.js"></script>
{% endblock %}

{% block content %}
<div id="video_container">
    <input type="hidden" id="video_id" value="{{ video_id }}">
    <div id="main_video">
        <h2 id="video_title"></h2>
        <div id="video_player"></div>
    </div>
    <div id="recommendation">
        <h3 style="margin-top: 5px;">推荐视频</h3>
        <ul id="recommendation-list"></ul>
    </div>
</div>

<div id="error-message" style="display: none; text-align: center;">
    <h2>此视频无法再播放</h2>
    <img src="/static/img/default-image.png" alt="不可播放视频"/>
</div>
{% endblock %}
